<html>
<head>
	<title>	Luis y sus amigos </title>
</head>
<body>
		<h1>Luis y sus amigos</h1>
		
		<h2>PERSONA</h2>
		<p><b>Nombres: </b> Luis Fernando</p>
		<p><b>Apellidos: </b>Guanilo Quiñones</p>
		<p><b>Edad: </b>20</p>

		<h2>AMIGOS</h2>

		<article>	
			<p><b>Nombres: </b> Sandra Patricia</p>
			<p><b>Apellidos: </b>Silva Mendoza</p>
			<p><b>Edad: </b>20</p>

			<p><b>Nombres: </b> Renzo Enrique</p>
			<p><b>Apellidos: </b>Silvestre Reyes</p>
			<p><b>Edad: </b>21</p>

			<p><b>Nombres: </b> Diego Arturo</p>
			<p><b>Apellidos: </b>Castro Ayala</p>
			<p><b>Edad: </b>20</p>

			<p><b>Nombres: </b> Kelvin Anthony</p>
			<p><b>Apellidos: </b>Camus Segura</p>
			<p><b>Edad: </b>20</p>


		</article>

</body>
</html>